bin/*
!bin/Debug/
bin/Debug/*
!bin/Debug/net10.0-windows/
bin/Debug/net10.0-windows/*
!bin/Debug/net10.0-windows/FfmpegRecorder.deps.json
!bin/Debug/net10.0-windows/FfmpegRecorder.dll
!bin/Debug/net10.0-windows/FfmpegRecorder.exe
!bin/Debug/net10.0-windows/FfmpegRecorder_*.exe
!bin/Debug/net10.0-windows/FfmpegRecorder.runtimeconfig.json
!bin/Debug/net10.0-windows/ffmpeg.exe
!bin/Debug/net10.0-windows/ffplay.exe
!bin/Debug/net10.0-windows/ffprobe.exe
!bin/Debug/net10.0-windows/yt-dlp.exe
!bin/Debug/net10.0-windows/ffmbc-0.7.4-x64.exe
!bin/Debug/net10.0-windows/LICENSE
obj/
.vs/
*.user
*.suo
*.cache
*.pdb
