bin/*
!bin/Debug/
bin/Debug/*
!bin/Debug/net10.0-windows/
bin/Debug/net10.0-windows/*
!bin/Debug/net10.0-windows/FfmpegRecorder.deps.json
!bin/Debug/net10.0-windows/FfmpegRecorder.dll
!bin/Debug/net10.0-windows/FfmpegRecorder.exe
!bin/Debug/net10.0-windows/DeckLinkAPI.Interop.dll
!bin/Debug/net10.0-windows/FfmpegRecorder_*.exe
!bin/Debug/net10.0-windows/4Ch_Recoder_1Ch_Player_*.exe
!bin/Debug/net10.0-windows/FfmpegRecorder.runtimeconfig.json
!bin/Debug/net10.0-windows/ffmpeg.exe
!bin/Debug/net10.0-windows/ffplay.exe
!bin/Debug/net10.0-windows/ffprobe.exe
!bin/Debug/net10.0-windows/yt-dlp.exe
!bin/Debug/net10.0-windows/ffmbc-0.7.4-x64.exe
!bin/Debug/net10.0-windows/MediaInfo.Wrapper.Core.dll
!bin/Debug/net10.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
!bin/Debug/net10.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
!bin/Debug/net10.0-windows/runtimes/
bin/Debug/net10.0-windows/runtimes/*
!bin/Debug/net10.0-windows/runtimes/win-x64/
!bin/Debug/net10.0-windows/runtimes/win-x64/**
!bin/Debug/net10.0-windows/runtimes/win-x86/
!bin/Debug/net10.0-windows/runtimes/win-x86/**
!bin/Debug/net10.0-windows/LICENSE
obj/
.vs/
*.user
*.suo
*.cache
*.pdb

